* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

#remita-div {
  background-color: lightgray;
  opacity: 0.5;
  color: #000;
  width: 100%;
  margin: 0px auto;

}

#submit {
  background-color: #1a5e5c;
  width: 200px;
  height: 70px;
  margin-top: 50px;
  margin-right: 350px;

}
